<section id="articles">
  <p>
    <%= Time.now.day %> <%= Time.now.strftime("%B") %> <%= Time.now.year %>
  </p>
  <article class="">
    <h1>My second article!</h1>
    <p>Published today at 5pm</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </article>

  <article class="">
    <h1>My first article!</h1>
    <p>Published yesterday at 5pm</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </article>
</section>

<aside id="side-area">
  <div class="ad">
    <img src="/Oxford_view.jpg">
  </div>
  <section id="coming-up">
    <article class="">
      <img src="http://placehold.it/150x150">
    </article>
    <article class="">
      <h3>More ideas</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </article>
    <article class="">
      <h3>More news</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </article>
    <article class="">
      <img src="http://placehold.it/150x150">
    </article>
    <article class="">
      <h3>More projects</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </article>
  </section>
</aside>
